<h1 class="h1">Data Entry page</h1>
<p>Please read the client right to him and ensure him/her of confidentiality</p>

<div [hidden]="!sections[0].state">
  <form name="form" [formGroup]="form" id="form" (submit)="addDem(form.value)">
    <fieldset>
      <legend>Section {{sections[0].section}} : {{sections[0].label}}</legend>
      <!-- isSelf -->
      <div class="form-group form-row">
        <label class="col-form-label col-sm-2">Self</label>
        <div class="col-sm-3">
          <input type="checkbox" formControlName="isSelf" class="form-control" />
          <small>
            <span [ngClass]="form.controls.isSelf.touched && form.controls.isSelf.errors?.min ? 'text-danger' : ''" *ngIf="form.controls.isSelf.touched && form.controls.isSelf.errors?.min">Minimum should be {{form.controls.isSelf.errors.min.min}}</span>
            <span [ngClass]="form.controls.isSelf.touched && form.controls.isSelf.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.isSelf.touched && form.controls.isSelf.errors?.required">Required</span>
            <span [ngClass]="form.controls.isSelf.touched && form.controls.isSelf.errors?.max ? 'text-danger' : ''" *ngIf="form.controls.isSelf.touched && form.controls.isSelf.errors?.max">Minimum should be {{form.controls.isSelf.errors.max.max}}</span>
          </small>
        </div>
      </div>

      <!-- Age -->
      <div class="form-group form-row">
        <label class="col-form-label col-sm-2">Age</label>
        <div class="col-sm-3">
          <input type="number" formControlName="age" class="form-control" placeholder="Age" />
          <small>
            <span [ngClass]="form.controls.age.touched && form.controls.age.errors?.min ? 'text-danger' : ''" *ngIf="form.controls.age.touched && form.controls.age.errors?.min">Minimum should be {{form.controls.age.errors.min.min}}</span>
            <span [ngClass]="form.controls.age.touched && form.controls.age.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.age.touched && form.controls.age.errors?.required">Required</span>
            <span [ngClass]="form.controls.age.touched && form.controls.age.errors?.max ? 'text-danger' : ''" *ngIf="form.controls.age.touched && form.controls.age.errors?.max">Minimum should be {{form.controls.age.errors.max.max}}</span>
          </small>
        </div>
      </div>

      <!-- gender -->
      <div class="form-group form-row">
        <label class="col-form-label col-sm-2">Gender</label>
        <div class="col-sm-3">
          <select type="checkbox" formControlName="gender" class="form-control">
            <option *ngFor="let g of gens" [ngValue]="g.value">{{g.label}}</option>
          </select>
          <small>
            <span [ngClass]="form.controls.gender.touched && form.controls.gender.errors?.min ? 'text-danger' : ''" *ngIf="form.controls.gender.touched && form.controls.gender.errors?.min">Minimum should be {{form.controls.gender.errors.min.min}}</span>
            <span [ngClass]="form.controls.gender.touched && form.controls.gender.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.gender.touched && form.controls.gender.errors?.required">Required</span>
            <span [ngClass]="form.controls.gender.touched && form.controls.gender.errors?.max ? 'text-danger' : ''" *ngIf="form.controls.gender.touched && form.controls.gender.errors?.max">Minimum should be {{form.controls.gender.errors.max.max}}</span>
          </small>
        </div>
      </div>

      <!-- marital -->
      <div class="form-group form-row">
        <label class="col-form-label col-sm-2">Marital Status</label>
        <div class="col-sm-3">
          <select type="checkbox" formControlName="marital" class="form-control">
            <option *ngFor="let g of marts" [ngValue]="g.value">{{g.label}}</option>
          </select>
          <small>
            <span [ngClass]="form.controls.marital.touched && form.controls.marital.errors?.min ? 'text-danger' : ''" *ngIf="form.controls.marital.touched && form.controls.marital.errors?.min">Minimum should be {{form.controls.marital.errors.min.min}}</span>
            <span [ngClass]="form.controls.marital.touched && form.controls.marital.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.marital.touched && form.controls.marital.errors?.required">Required</span>
            <span [ngClass]="form.controls.marital.touched && form.controls.marital.errors?.max ? 'text-danger' : ''" *ngIf="form.controls.marital.touched && form.controls.marital.errors?.max">Minimum should be {{form.controls.marital.errors.max.max}}</span>
          </small>
        </div>
      </div>

      <!-- religion -->
      <div class="form-group form-row">
        <label class="col-form-label col-sm-2">Religion</label>
        <div class="col-sm-3">
          <select type="checkbox" formControlName="religion" class="form-control">
            <option *ngFor="let r of rels" [ngValue]="r.value">{{r.label}}</option>
          </select>
          <small>
            <span [ngClass]="form.controls.religion.touched && form.controls.religion.errors?.min ? 'text-danger' : ''" *ngIf="form.controls.religion.touched && form.controls.religion.errors?.min">Minimum should be {{form.controls.religion.errors.min.min}}</span>
            <span [ngClass]="form.controls.religion.touched && form.controls.religion.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.religion.touched && form.controls.religion.errors?.required">Required</span>
            <span [ngClass]="form.controls.religion.touched && form.controls.religion.errors?.max ? 'text-danger' : ''" *ngIf="form.controls.religion.touched && form.controls.religion.errors?.max">Minimum should be {{form.controls.religion.errors.max.max}}</span>
          </small>
        </div>
      </div>

      <!-- ethnicity -->
      <div class="form-group form-row">
        <label class="col-form-label col-sm-2">Ethnicity</label>
        <div class="col-sm-3">
          <select type="checkbox" formControlName="ethnicity" class="form-control">
            <option *ngFor="let e of eths" [ngValue]="e.value">{{e.label}}</option>
          </select>
          <small>
            <span [ngClass]="form.controls.ethnicity.touched && form.controls.ethnicity.errors?.min ? 'text-danger' : ''" *ngIf="form.controls.ethnicity.touched && form.controls.ethnicity.errors?.min">Minimum should be {{form.controls.ethnicity.errors.min.min}}</span>
            <span [ngClass]="form.controls.ethnicity.touched && form.controls.ethnicity.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.ethnicity.touched && form.controls.ethnicity.errors?.required">Required</span>
            <span [ngClass]="form.controls.ethnicity.touched && form.controls.ethnicity.errors?.max ? 'text-danger' : ''" *ngIf="form.controls.ethnicity.touched && form.controls.ethnicity.errors?.max">Minimum should be {{form.controls.ethnicity.errors.max.max}}</span>
          </small>
        </div>
      </div>

      <!-- education -->
      <div class="form-group form-row">
        <label class="col-form-label col-sm-2">Education</label>
        <div class="col-sm-3">
          <select type="checkbox" formControlName="education" class="form-control">
            <option *ngFor="let e of educs" [ngValue]="e.value">{{e.label}}</option>
          </select>
          <small>
            <span [ngClass]="form.controls.education.touched && form.controls.education.errors?.min ? 'text-danger' : ''" *ngIf="form.controls.education.touched && form.controls.education.errors?.min">Minimum should be {{form.controls.education.errors.min.min}}</span>
            <span [ngClass]="form.controls.education.touched && form.controls.education.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.education.touched && form.controls.education.errors?.required">Required</span>
            <span [ngClass]="form.controls.education.touched && form.controls.education.errors?.max ? 'text-danger' : ''" *ngIf="form.controls.education.touched && form.controls.education.errors?.max">Minimum should be {{form.controls.education.errors.max.max}}</span>
          </small>
        </div>
      </div>

      <!-- occupation -->
      <div class="form-group form-row">
        <label class="col-form-label col-sm-2">Occupation</label>
        <div class="col-sm-3">
          <select type="checkbox" formControlName="occupation" class="form-control">
            <option *ngFor="let o of occs" [ngValue]="o.value">{{o.label}}</option>
          </select>
          <small>
            <span [ngClass]="form.controls.occupation.touched && form.controls.occupation.errors?.min ? 'text-danger' : ''" *ngIf="form.controls.occupation.touched && form.controls.occupation.errors?.min">Minimum should be {{form.controls.occupation.errors.min.min}}</span>
            <span [ngClass]="form.controls.occupation.touched && form.controls.occupation.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.occupation.touched && form.controls.occupation.errors?.required">Required</span>
            <span [ngClass]="form.controls.occupation.touched && form.controls.occupation.errors?.max ? 'text-danger' : ''" *ngIf="form.controls.occupation.touched && form.controls.occupation.errors?.max">Minimum should be {{form.controls.occupation.errors.max.max}}</span>
          </small>
        </div>
      </div>

      <div class="col-md-offset-2 btn-group">
        <button [disabled]="form.invalid || act.isProcessing" type="submit" [ngClass]="form.invalid ? 'btn-outline-danger' : 'btn-outline-success'" class="btn">Save</button>
      </div>
      <div [ngClass]="act.isError ? 'alert-danger' : 'alert-info'">{{act.message}}</div>
    </fieldset>
  </form>
</div>

<!--<div [hidden]="!sections[1].state">-->
<form name="form2" [formGroup]="form2" id="form2" (submit)="addDem(form2.value)">
  <fieldset>
    <legend>Section {{sections[1].section}} : {{sections[1].label}}</legend>

    <!-- hasPressure -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Do you have high blood pressure</label>
      <div class="col-sm-3">
        <select type="number" formControlName="hasPressure" class="form-control">
          <option *ngFor="let h of trips" [ngValue]="h.value">{{h.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.hasPressure.touched && form2.controls.hasPressure.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.hasPressure.touched && form2.controls.hasPressure.errors?.min">Minimum should be {{form2.controls.hasPressure.errors.min.min}}</span>
          <span [ngClass]="form2.controls.hasPressure.touched && form2.controls.hasPressure.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.hasPressure.touched && form2.controls.hasPressure.errors?.required">Required</span>
          <span [ngClass]="form2.controls.hasPressure.touched && form2.controls.hasPressure.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.hasPressure.touched && form2.controls.hasPressure.errors?.max">Minimum should be {{form2.controls.hasPressure.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- screening -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">How did you know</label>
      <div class="col-sm-2">
        <select (change)="changeKnow(form2.controls.screening.value)" formControlName="screening" class="form-control">
          <option *ngFor="let k of knows" [ngValue]="k.value">{{k.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.screening.touched && form2.controls.screening.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.screening.touched && form2.controls.screening.errors?.min">Minimum should be {{form2.controls.screening.errors.min.min}}</span>
          <span [ngClass]="form2.controls.screening.touched && form2.controls.screening.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.screening.touched && form2.controls.screening.errors?.required">Required</span>
          <span [ngClass]="form2.controls.screening.touched && form2.controls.screening.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.screening.touched && form2.controls.screening.errors?.max">Minimum should be {{form2.controls.screening.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- others -->
    <!-- isControlled -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">
        Is your high blood pressure under control?
      </label>
      <div class="col-sm-3">
        <select type="number" formControlName="isControlled" class="form-control">
          <option *ngFor="let h of trips" [ngValue]="h.value">{{h.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.isControlled.touched && form2.controls.isControlled.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.isControlled.touched && form2.controls.isControlled.errors?.min">Minimum should be {{form2.controls.isControlled.errors.min.min}}</span>
          <span [ngClass]="form2.controls.isControlled.touched && form2.controls.isControlled.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.isControlled.touched && form2.controls.isControlled.errors?.required">Required</span>
          <span [ngClass]="form2.controls.isControlled.touched && form2.controls.isControlled.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.isControlled.touched && form2.controls.isControlled.errors?.max">Minimum should be {{form2.controls.isControlled.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- hasAdmittedIn12 -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Admitted in the last 12 months on account HBP </label>
      <div class="col-sm-3">
        <select type="number" formControlName="hasAdmittedIn12" class="form-control">
          <option *ngFor="let h of trips" [ngValue]="h.value">{{h.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.hasAdmittedIn12.touched && form2.controls.hasAdmittedIn12.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.hasAdmittedIn12.touched && form2.controls.hasAdmittedIn12.errors?.min">Minimum should be {{form2.controls.hasAdmittedIn12.errors.min.min}}</span>
          <span [ngClass]="form2.controls.hasAdmittedIn12.touched && form2.controls.hasAdmittedIn12.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.hasAdmittedIn12.touched && form2.controls.hasAdmittedIn12.errors?.required">Required</span>
          <span [ngClass]="form2.controls.hasAdmittedIn12.touched && form2.controls.hasAdmittedIn12.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.hasAdmittedIn12.touched && form2.controls.hasAdmittedIn12.errors?.max">Minimum should be {{form2.controls.hasAdmittedIn12.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- measureAtHome -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Do you measure your BP at home</label>
      <div class="col-sm-3">
        <select type="number" formControlName="measureAtHome" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.measureAtHome.touched && form2.controls.measureAtHome.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.measureAtHome.touched && form2.controls.measureAtHome.errors?.min">Minimum should be {{form2.controls.measureAtHome.errors.min.min}}</span>
          <span [ngClass]="form2.controls.measureAtHome.touched && form2.controls.measureAtHome.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.measureAtHome.touched && form2.controls.measureAtHome.errors?.required">Required</span>
          <span [ngClass]="form2.controls.measureAtHome.touched && form2.controls.measureAtHome.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.measureAtHome.touched && form2.controls.measureAtHome.errors?.max">Minimum should be {{form2.controls.measureAtHome.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- relativesHBP -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Do you have any relatives with high blood pressure</label>
      <div class="col-sm-3">
        <select type="number" formControlName="relativesHBP" class="form-control">
          <option *ngFor="let t of trips" [ngValue]="t.value">{{t.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.relativesHBP.touched && form2.controls.relativesHBP.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.relativesHBP.touched && form2.controls.relativesHBP.errors?.min">Minimum should be {{form2.controls.relativesHBP.errors.min.min}}</span>
          <span [ngClass]="form2.controls.relativesHBP.touched && form2.controls.relativesHBP.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.relativesHBP.touched && form2.controls.relativesHBP.errors?.required">Required</span>
          <span [ngClass]="form2.controls.relativesHBP.touched && form2.controls.relativesHBP.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.relativesHBP.touched && form2.controls.relativesHBP.errors?.max">Minimum should be {{form2.controls.relativesHBP.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- degree1 -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">If yes, Specify</label>
      <div class="col-sm-3">
        <select type="number" formControlName="degree1" class="form-control">
          <option *ngFor="let r of ['1st Degree', '2nd Degree', '3rd Degree']" [ngValue]="r">{{r}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.degree1.touched && form2.controls.degree1.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.degree1.touched && form2.controls.degree1.errors?.min">Minimum should be {{form2.controls.degree1.errors.min.min}}</span>
          <span [ngClass]="form2.controls.degree1.touched && form2.controls.degree1.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.degree1.touched && form2.controls.degree1.errors?.required">Required</span>
          <span [ngClass]="form2.controls.degree1.touched && form2.controls.degree1.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.degree1.touched && form2.controls.degree1.errors?.max">Minimum should be {{form2.controls.degree1.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- chronicDisease -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Another chronic disease apart from HPT</label>
      <div class="col-sm-3">
        <select type="number" formControlName="chronicDisease" class="form-control">
          <option *ngFor="let t of trips" [ngValue]="t.value">{{t.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.chronicDisease.touched && form2.controls.chronicDisease.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.chronicDisease.touched && form2.controls.chronicDisease.errors?.min">Minimum should be {{form2.controls.chronicDisease.errors.min.min}}</span>
          <span [ngClass]="form2.controls.chronicDisease.touched && form2.controls.chronicDisease.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.chronicDisease.touched && form2.controls.chronicDisease.errors?.required">Required</span>
          <span [ngClass]="form2.controls.chronicDisease.touched && form2.controls.chronicDisease.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.chronicDisease.touched && form2.controls.chronicDisease.errors?.max">Minimum should be {{form2.controls.chronicDisease.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- diabetes -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Do you have diabetes?</label>
      <div class="col-sm-3">
        <select type="number" formControlName="diabetes" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.diabetes.touched && form2.controls.diabetes.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.diabetes.touched && form2.controls.diabetes.errors?.min">Minimum should be {{form2.controls.diabetes.errors.min.min}}</span>
          <span [ngClass]="form2.controls.diabetes.touched && form2.controls.diabetes.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.diabetes.touched && form2.controls.diabetes.errors?.required">Required</span>
          <span [ngClass]="form2.controls.diabetes.touched && form2.controls.diabetes.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.diabetes.touched && form2.controls.diabetes.errors?.max">Minimum should be {{form2.controls.diabetes.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- cKD -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Do you have CKD?</label>
      <div class="col-sm-3">
        <select type="number" formControlName="cKD" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.cKD.touched && form2.controls.cKD.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.cKD.touched && form2.controls.cKD.errors?.min">Minimum should be {{form2.controls.cKD.errors.min.min}}</span>
          <span [ngClass]="form2.controls.cKD.touched && form2.controls.cKD.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.cKD.touched && form2.controls.cKD.errors?.required">Required</span>
          <span [ngClass]="form2.controls.cKD.touched && form2.controls.cKD.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.cKD.touched && form2.controls.cKD.errors?.max">Minimum should be {{form2.controls.cKD.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- heartFail -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Do you have heart failure?</label>
      <div class="col-sm-3">
        <select type="number" formControlName="heartFail" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.heartFail.touched && form2.controls.heartFail.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.heartFail.touched && form2.controls.heartFail.errors?.min">Minimum should be {{form2.controls.heartFail.errors.min.min}}</span>
          <span [ngClass]="form2.controls.heartFail.touched && form2.controls.heartFail.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.heartFail.touched && form2.controls.heartFail.errors?.required">Required</span>
          <span [ngClass]="form2.controls.heartFail.touched && form2.controls.heartFail.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.heartFail.touched && form2.controls.heartFail.errors?.max">Minimum should be {{form2.controls.heartFail.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- stroke -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Do you have stroke?</label>
      <div class="col-sm-3">
        <select type="number" formControlName="stroke" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.stroke.touched && form2.controls.stroke.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.stroke.touched && form2.controls.stroke.errors?.min">Minimum should be {{form2.controls.stroke.errors.min.min}}</span>
          <span [ngClass]="form2.controls.stroke.touched && form2.controls.stroke.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.stroke.touched && form2.controls.stroke.errors?.required">Required</span>
          <span [ngClass]="form2.controls.stroke.touched && form2.controls.stroke.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.stroke.touched && form2.controls.stroke.errors?.max">Minimum should be {{form2.controls.stroke.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- dementia -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Do you have dementia?</label>
      <div class="col-sm-3">
        <select type="number" formControlName="dementia" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.dementia.touched && form2.controls.dementia.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.dementia.touched && form2.controls.dementia.errors?.min">Minimum should be {{form2.controls.dementia.errors.min.min}}</span>
          <span [ngClass]="form2.controls.dementia.touched && form2.controls.dementia.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.dementia.touched && form2.controls.dementia.errors?.required">Required</span>
          <span [ngClass]="form2.controls.dementia.touched && form2.controls.dementia.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.dementia.touched && form2.controls.dementia.errors?.max">Minimum should be {{form2.controls.dementia.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- atrialFib -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Atrial fibrillation</label>
      <div class="col-sm-3">
        <select type="number" formControlName="atrialFib" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.atrialFib.touched && form2.controls.atrialFib.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.atrialFib.touched && form2.controls.atrialFib.errors?.min">Minimum should be {{form2.controls.atrialFib.errors.min.min}}</span>
          <span [ngClass]="form2.controls.atrialFib.touched && form2.controls.atrialFib.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.atrialFib.touched && form2.controls.atrialFib.errors?.required">Required</span>
          <span [ngClass]="form2.controls.atrialFib.touched && form2.controls.atrialFib.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.atrialFib.touched && form2.controls.atrialFib.errors?.max">Minimum should be {{form2.controls.atrialFib.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- prostate -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Prostate (Cancer/Enlargement)</label>
      <div class="col-sm-3">
        <select type="number" formControlName="prostate" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.prostate.touched && form2.controls.prostate.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.prostate.touched && form2.controls.prostate.errors?.min">Minimum should be {{form2.controls.prostate.errors.min.min}}</span>
          <span [ngClass]="form2.controls.prostate.touched && form2.controls.prostate.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.prostate.touched && form2.controls.prostate.errors?.required">Required</span>
          <span [ngClass]="form2.controls.prostate.touched && form2.controls.prostate.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.prostate.touched && form2.controls.prostate.errors?.max">Minimum should be {{form2.controls.prostate.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- cAD -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Coronary Artery Disease</label>
      <div class="col-sm-3">
        <select type="number" formControlName="cAD" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.cAD.touched && form2.controls.cAD.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.cAD.touched && form2.controls.cAD.errors?.min">Minimum should be {{form2.controls.cAD.errors.min.min}}</span>
          <span [ngClass]="form2.controls.cAD.touched && form2.controls.cAD.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.cAD.touched && form2.controls.cAD.errors?.required">Required</span>
          <span [ngClass]="form2.controls.cAD.touched && form2.controls.cAD.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.cAD.touched && form2.controls.cAD.errors?.max">Minimum should be {{form2.controls.cAD.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- hyperLip -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Hyperlipidemia</label>
      <div class="col-sm-3">
        <select type="number" formControlName="hyperLip" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.hyperLip.touched && form2.controls.hyperLip.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.hyperLip.touched && form2.controls.hyperLip.errors?.min">Minimum should be {{form2.controls.hyperLip.errors.min.min}}</span>
          <span [ngClass]="form2.controls.hyperLip.touched && form2.controls.hyperLip.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.hyperLip.touched && form2.controls.hyperLip.errors?.required">Required</span>
          <span [ngClass]="form2.controls.hyperLip.touched && form2.controls.hyperLip.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.hyperLip.touched && form2.controls.hyperLip.errors?.max">Minimum should be {{form2.controls.hyperLip.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- pain -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Chronic Pain</label>
      <div class="col-sm-3">
        <select type="number" formControlName="pain" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.pain.touched && form2.controls.pain.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.pain.touched && form2.controls.pain.errors?.min">Minimum should be {{form2.controls.pain.errors.min.min}}</span>
          <span [ngClass]="form2.controls.pain.touched && form2.controls.pain.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.pain.touched && form2.controls.pain.errors?.required">Required</span>
          <span [ngClass]="form2.controls.pain.touched && form2.controls.pain.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.pain.touched && form2.controls.pain.errors?.max">Minimum should be {{form2.controls.pain.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- othersCND -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Other Chronic Diseases</label>
      <div class="col-sm-3">
        <textarea type="number" formControlName="othersCND" class="form-control">
        </textarea>
        <small>
          <span [ngClass]="form22.controls.othersCND.errors?.maxlength ? 'text-danger' : ''" *ngIf="form2.controls.othersCND.touched && form2.controls.othersCND.errors?.maxlength">The maximum length is {{form2.controls.othersCND.errors.maxlength.requiredLength}} characters: Current is {{form2.controls.othersCND.errors.maxlength.actualLength}}</span>
          <span [ngClass]="form2.controls.othersCND.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.othersCND.touched && form2.controls.othersCND.errors?.required">Required</span>
          <span [ngClass]="form2.controls.othersCND.errors?.minlength ? 'text-danger' : ''" *ngIf="form2.controls.othersCND.touched && form2.controls.othersCND.errors?.minlength">The minimum length is {{form2.controls.othersCND.errors.minlength.requiredLength}} characters: Current is {{form2.controls.othersCND.errors.minlength.actualLength}}</span>
        </small>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Medications</legend>
    <!-- hPTMeds -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Are you on any medications?</label>
      <div class="col-sm-3">
        <select type="number" formControlName="hPTMeds" class="form-control">
          <option *ngFor="let b of trips" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.hPTMeds.touched && form2.controls.hPTMeds.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.hPTMeds.touched && form2.controls.hPTMeds.errors?.min">Minimum should be {{form2.controls.hPTMeds.errors.min.min}}</span>
          <span [ngClass]="form2.controls.hPTMeds.touched && form2.controls.hPTMeds.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.hPTMeds.touched && form2.controls.hPTMeds.errors?.required">Required</span>
          <span [ngClass]="form2.controls.hPTMeds.touched && form2.controls.hPTMeds.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.hPTMeds.touched && form2.controls.hPTMeds.errors?.max">Minimum should be {{form2.controls.hPTMeds.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- amlodipine -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Amlodipine</label>
      <div class="col-sm-3">
        <select type="number" formControlName="amlodipine" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.amlodipine.touched && form2.controls.amlodipine.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.amlodipine.touched && form2.controls.amlodipine.errors?.min">Minimum should be {{form2.controls.amlodipine.errors.min.min}}</span>
          <span [ngClass]="form2.controls.amlodipine.touched && form2.controls.amlodipine.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.amlodipine.touched && form2.controls.amlodipine.errors?.required">Required</span>
          <span [ngClass]="form2.controls.amlodipine.touched && form2.controls.amlodipine.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.amlodipine.touched && form2.controls.amlodipine.errors?.max">Minimum should be {{form2.controls.amlodipine.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- lisinopril -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Lisinopril</label>
      <div class="col-sm-3">
        <select type="number" formControlName="lisinopril" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.lisinopril.touched && form2.controls.lisinopril.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.lisinopril.touched && form2.controls.lisinopril.errors?.min">Minimum should be {{form2.controls.lisinopril.errors.min.min}}</span>
          <span [ngClass]="form2.controls.lisinopril.touched && form2.controls.lisinopril.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.lisinopril.touched && form2.controls.lisinopril.errors?.required">Required</span>
          <span [ngClass]="form2.controls.lisinopril.touched && form2.controls.lisinopril.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.lisinopril.touched && form2.controls.lisinopril.errors?.max">Minimum should be {{form2.controls.lisinopril.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- losarta -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Losarta</label>
      <div class="col-sm-3">
        <select type="number" formControlName="losarta" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.losarta.touched && form2.controls.losarta.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.losarta.touched && form2.controls.losarta.errors?.min">Minimum should be {{form2.controls.losarta.errors.min.min}}</span>
          <span [ngClass]="form2.controls.losarta.touched && form2.controls.losarta.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.losarta.touched && form2.controls.losarta.errors?.required">Required</span>
          <span [ngClass]="form2.controls.losarta.touched && form2.controls.losarta.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.losarta.touched && form2.controls.losarta.errors?.max">Minimum should be {{form2.controls.losarta.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- bendro -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Bendro</label>
      <div class="col-sm-3">
        <select type="number" formControlName="bendro" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.bendro.touched && form2.controls.bendro.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.bendro.touched && form2.controls.bendro.errors?.min">Minimum should be {{form2.controls.bendro.errors.min.min}}</span>
          <span [ngClass]="form2.controls.bendro.touched && form2.controls.bendro.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.bendro.touched && form2.controls.bendro.errors?.required">Required</span>
          <span [ngClass]="form2.controls.bendro.touched && form2.controls.bendro.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.bendro.touched && form2.controls.bendro.errors?.max">Minimum should be {{form2.controls.bendro.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- hCTZ -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">HCTZ</label>
      <div class="col-sm-3">
        <select type="number" formControlName="hCTZ" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.hCTZ.touched && form2.controls.hCTZ.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.hCTZ.touched && form2.controls.hCTZ.errors?.min">Minimum should be {{form2.controls.hCTZ.errors.min.min}}</span>
          <span [ngClass]="form2.controls.hCTZ.touched && form2.controls.hCTZ.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.hCTZ.touched && form2.controls.hCTZ.errors?.required">Required</span>
          <span [ngClass]="form2.controls.hCTZ.touched && form2.controls.hCTZ.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.hCTZ.touched && form2.controls.hCTZ.errors?.max">Minimum should be {{form2.controls.hCTZ.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- atenolol -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Atenolol</label>
      <div class="col-sm-3">
        <select type="number" formControlName="atenolol" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.atenolol.touched && form2.controls.atenolol.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.atenolol.touched && form2.controls.atenolol.errors?.min">Minimum should be {{form2.controls.atenolol.errors.min.min}}</span>
          <span [ngClass]="form2.controls.atenolol.touched && form2.controls.atenolol.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.atenolol.touched && form2.controls.atenolol.errors?.required">Required</span>
          <span [ngClass]="form2.controls.atenolol.touched && form2.controls.atenolol.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.atenolol.touched && form2.controls.atenolol.errors?.max">Minimum should be {{form2.controls.atenolol.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- bisoprolol -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Bisoprolol</label>
      <div class="col-sm-3">
        <select type="number" formControlName="bisoprolol" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.bisoprolol.touched && form2.controls.bisoprolol.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.bisoprolol.touched && form2.controls.bisoprolol.errors?.min">Minimum should be {{form2.controls.bisoprolol.errors.min.min}}</span>
          <span [ngClass]="form2.controls.bisoprolol.touched && form2.controls.bisoprolol.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.bisoprolol.touched && form2.controls.bisoprolol.errors?.required">Required</span>
          <span [ngClass]="form2.controls.bisoprolol.touched && form2.controls.bisoprolol.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.bisoprolol.touched && form2.controls.bisoprolol.errors?.max">Minimum should be {{form2.controls.bisoprolol.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- methlydopa -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Mythyldopa</label>
      <div class="col-sm-3">
        <select type="number" formControlName="methlydopa" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.methlydopa.touched && form2.controls.methlydopa.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.methlydopa.touched && form2.controls.methlydopa.errors?.min">Minimum should be {{form2.controls.methlydopa.errors.min.min}}</span>
          <span [ngClass]="form2.controls.methlydopa.touched && form2.controls.methlydopa.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.methlydopa.touched && form2.controls.methlydopa.errors?.required">Required</span>
          <span [ngClass]="form2.controls.methlydopa.touched && form2.controls.methlydopa.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.methlydopa.touched && form2.controls.methlydopa.errors?.max">Minimum should be {{form2.controls.methlydopa.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- frusemide -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Frusemide</label>
      <div class="col-sm-3">
        <select type="number" formControlName="frusemide" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.frusemide.touched && form2.controls.frusemide.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.frusemide.touched && form2.controls.frusemide.errors?.min">Minimum should be {{form2.controls.frusemide.errors.min.min}}</span>
          <span [ngClass]="form2.controls.frusemide.touched && form2.controls.frusemide.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.frusemide.touched && form2.controls.frusemide.errors?.required">Required</span>
          <span [ngClass]="form2.controls.frusemide.touched && form2.controls.frusemide.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.frusemide.touched && form2.controls.frusemide.errors?.max">Minimum should be {{form2.controls.frusemide.errors.max.max}}</span>
        </small>
      </div>
    </div>

    <!-- hydralazine -->
    <div class="form-group form-row">
      <label class="col-form-label col-sm-4">Hydralazine</label>
      <div class="col-sm-3">
        <select type="number" formControlName="hydralazine" class="form-control">
          <option *ngFor="let b of bools" [ngValue]="b.value">{{b.label}}</option>
        </select>
        <small>
          <span [ngClass]="form2.controls.hydralazine.touched && form2.controls.hydralazine.errors?.min ? 'text-danger' : ''" *ngIf="form2.controls.hydralazine.touched && form2.controls.hydralazine.errors?.min">Minimum should be {{form2.controls.hydralazine.errors.min.min}}</span>
          <span [ngClass]="form2.controls.hydralazine.touched && form2.controls.hydralazine.errors?.required ? 'text-danger' : ''" *ngIf="form2.controls.hydralazine.touched && form2.controls.hydralazine.errors?.required">Required</span>
          <span [ngClass]="form2.controls.hydralazine.touched && form2.controls.hydralazine.errors?.max ? 'text-danger' : ''" *ngIf="form2.controls.hydralazine.touched && form2.controls.hydralazine.errors?.max">Minimum should be {{form2.controls.hydralazine.errors.max.max}}</span>
        </small>
      </div>
    </div>


  </fieldset>
  <div class="col-md-offset-2 btn-group">
    <button [disabled]="form2.invalid || act.isProcessing" type="submit" [ngClass]="form2.invalid ? 'btn-outline-danger' : 'btn-outline-success'" class="btn">Save</button>
    <button [disabled]="act.isProcessing" type="button" (click)="prev(1)" [ngClass]="form2.invalid ? 'btn-outline-danger' : 'btn-outline-secondary'" class="btn">Previous</button>
  </div>
  <div [ngClass]="act.isError ? 'alert-danger' : 'alert-info'">{{act.message}}</div>
</form>
<!--</div>-->
